.CartButton {
  position: fixed;
  top: 17px;
  z-index: 111;
  right: 21%;
  color: #741906;
}
.cart svg {
  color: #b3b3b3b6;
}
svg:not(:root).svg-inline--fa,
svg:not(:host).svg-inline--fa {
  background-color: #06117400;
}

.CartButton button:nth-child(1) {
  border: none;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
}
.cart-ico-main {
  background-color: #1c05e900;
}
.CartDropdown {
  background: linear-gradient(90deg, rgba(0, 9, 26, 0.89) 32.41%, #101927c9);
  position: fixed;
  padding: 11px;
  width: 350px;
  min-height: 90vh;
  top: 97px;
  border: none;
 left: 69.5%;
 right: 0%;
 transition: all .3s ease-in-out;
 transform: translateX(-2220px);
 opacity: 0;
}
.CartDropdown.visible {
  display: block;
  transform: translateX(0px);
  transition: all .3s ease-in-out;
  opacity: 1;
}
.inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-itm {
  display: flex;
  padding: 8px;
  gap: 8px;
  background-color: #ccc;
  height: 150px;
  width: 100%;
  margin-bottom: 15px;
}
.inf h3 {
  color: #741906;
}
.card-itm img {
  width: 50%;
  height: 90%;
}

.del-btn {
  color: #ffffff;
  padding: 10px 20px;
  background-color: #741906;
  border: none;
  position: absolute;
  bottom: 4%;
  left: 39%;
}
.delete-btn {
  background: none;
  border: none;
  font-size: 22px;
}
