.shop-container {
  width: 90%;
  overflow: hidden;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}
.carousel {
  margin-top: 8rem;
  cursor: grab;
}
.inner-carousel {
  display: flex;
  gap: 3rem;
}
.carousel-container {
  margin-bottom: 5rem;
}
.card {
  min-height: 25rem;
  min-width: 20rem;
  padding: 40px 20px;
}
.car-img img {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.card-indicators {
  display: flex;
  gap: 1rem;
}
.indicator {
  background-color: #8e8f8e5d;
  border-radius: 50%;
  width: 1.5rem;
}
.indicator.active {
  border-radius: 6px;
  display: inherit;
  background-color: #741906;
  padding: 12px 25px;
  width: 1.5rem;
  transition: 0.2s ease-in-out;
}

/* ===============CARSOUL============== */
.cards-main {
}
.cards-title {
  position: relative;
  padding-bottom: 6rem;
}
.cards-title h2 {
  font-size: 3rem;
  position: absolute;
  top: 70px;
  left: 35%;
  color: #6e0505;
  padding: 10px;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  overflow: hidden;
  padding: 30px;
}
.cards-container {
  width: 100%;
  overflow: hidden;
}
.cards {
  display: flex;
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  /* transition: transform 0.3s ease; */
  transform: translate(0px, 0px);
}
.card {
  width: 355px;
  height: 550px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  box-shadow: #12273d29 0 0px 13px;
  cursor: grab;
}
.active-card {
  border: 1px solid #64010159;
  box-shadow: 0px 0px 2px #ff0000;
}
/* .react-draggable-dragged{
  transform: translate(0px, 0px);
} */
.car-img {
  /* height: 160px; */
  background-size: cover;
}
.car-name h3 {
  color: #741906;
  font-size: 20px;
}
.description {
  font-size: 12px;
}
.add-cart-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  font-size: 18px;
}
.info p span {
  color: #741906;
}

.btns {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btns span {
  font-size: 24px;
}
.add-btn {
  cursor: pointer;
  font-size: 20px;
  background-color: #741906;
  padding: 2px 15px;
  border: none;
  color: #fff;
}
.pls {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.mns {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.controls {
  width: 98%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.left {
  position: absolute;
  background-color: #741906;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 15px;
  border-radius: 50%;
  bottom: 370px;
}
.right {
  right: 0px;
  position: absolute;
  background-color: #741906;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 15px;
  border-radius: 50%;
  bottom: 370px;
}
.circles {
  display: flex;
  gap: 20px;
  padding: 1rem;
  margin: auto;
}

.circles:hover {
  cursor: pointer;
}
.circleA {
  height: 20px;
  width: 20px;
  background-color: #5a5a5a3d;
  border-radius: 50%;
}
.active-circle {
  background-color: #6e0505;
}
.circlen {
  background-color: #12273d;
  border-radius: 50%;
}
