.testimonials{
    height: 100vh;
    background-color: #12273D;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.testimonials h2{
    font-size: 3rem;
     position: absolute;
    top: 40px;
    left: 44%;
    color: #fff;
    /* padding: 10px; */
}
.testimonials-cards{
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    
}
.testimonials-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #444;
    background-color: #EBD8B8;
    width: 55%;
}
.testimonials-card .text{
    width: 70%;
    font-size: 1.6rem;
}
.name{
    display: flex;
    align-items: center;
    gap: 30px;
}
.testmonial-car{
    position: absolute;
    right: 10rem;
    top: 25rem;
}